
ul{
  list-style-type: none;
  color: black;
}
.navbar {
  height: 100%;
  width: 25%;
  background-color: skyblue;
  padding: 1.5rem;
  position: inherit;
  top: 0;
  left: 0;
  float:left;
  display:inline;
}

/*.messages {
  float: right;
  height: 1000px;
}*/

table{
  height: 5000px;
  width: 75%;
  float:left;
  display:inline;
  width: 49%;
}

tr:nth-child(even){
  background-color: white;
}

tr:nth-child(odd){
  background-color: lightgrey;
}

tr{
  height: 50px;
  width: 5000px;
}

td {
  width: 8000px;
}

.message-time{
  text-align:;
}
