<div class = "navbar">
  <div class = "header">
    <h1 class="title">Bloc Chat Rooms</h1>
  </div>
  <div class="rooms-list">
    <ul ng-repeat='room in home.rooms' class="chatrooms">
      <li ng-click="home.setRoom(room.$id)">{{ room.name }} </li>
    </ul>
  </div>
  <form>
    <input type="text" name="" value="" ng-model="newRoom" placeholder="new room name?">
    <input type="submit" name="" value="Add Rooom" ng-click="home.addRoom(newRoom)">
  </form>
</div>

<!-- // build out a proper page and form. ng-submit takes the input data (ng-model) and fires off a function that sends that data to the controller -->

<div class="messages">
  <table>
    <tr ng-repeat="message in home.messages">
      <td>
        <p class="message-username"><strong>{{ message.username}}</strong> {{ message.sentAt }}</p>
        <p class="message-content">{{ message.content }}</p>
      </td>
    </tr>
  </table>
</div>

<div class="new-message">
  <form ng-submit="home.addMessage(newMessage)">
    <input type="text" name="" value="" ng-model="newMessage" placeholder="Type your message here...">
    <input type="submit" name="" value="Submit">
  </form>
</div>
